.customer-slider {
  overflow: hidden;
  width: 100%;
  padding: 30px 0;
  grid-column: 1 /-1;
}

.slider-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
