.navbar {
  margin-right: 50px;
}

.navbar__logo {
  text-decoration: none;
  font-family: var(--heading-heading);
  font-weight: 600;
  color: #000000;
}

.navbar__options {
  display: flex;
  gap: 50px;
  margin-left: 25px;
  color: #000000;
  grid-column: -3 /-1;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar__link:hover {
  color: #333;
}
