:root {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: #fdfdfd;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
